<%# testing cc# 4242424242424242%>

<div class="payment-errors">
	<!-- show payment errors in here -->
</div>

<%= form_for(:payment, :url => order_path, :html => {:id => 'payment-form'} ) do |f| %>
	<div class="form-row">
	  <label>Card Number</label><br />
	  <input type="text" size="20" autocomplete="off" class="card-number"/>
  </div>
  <div class="form-row">
	  <label>CVC</label><br />
	  <input type="text" size="4" autocomplete="off" class="card-cvc"/>
  </div>
  <div class="form-row">
	  <label>Expiration (MM/YYYY)</label><br />
		<span>
		  <input type="text" size="2" class="card-expiry-month"/> /
		  <input type="text" size="4" class="card-expiry-year"/>
		</span>
  </div>

	<div class="actions">
    <input value="Submit Payment" type="submit" class="cart submit-button" />
  </div>
<% end %>