<div id="shopping_cart">
	<h2>Review Order</h2>
	<ul>
		<% @cart.line_items.each do |item| %>
			<li><%= "#{item.product.color} x #{item.quantity} = #{item.display_price}"%></li>
		<% end%>
		<li><%= @cart.display_price.html_safe %></li>
	</ul>
	<%= button_to("Place Order", order_cart_path, :class => "cart", :method => "get" )%>
</div>
